body {
  background-color: #999999; /* Dark background */
  color: #fff;
  font-family: "Arial", sans-serif;
}

.main-content {
  overflow-y: auto;
  height: max-content; /* Full viewport height */
  padding: 20px;
}
